<header id="header">
  <div class="header-top">
    <div class="logo">
      <img src="../../assets/logo/logo.jpg" alt="">
      <h1>ADH FOOD</h1>
    </div>
    <div class="search">
      <input type="text" placeholder="Nhập món ăn của bạn">
      <button class="search-btn">Tìm kiếm</button>
    </div>

    <div class="icon-header">
      <div class="button-ca-nhan">
        <a href="#" class="account-icon">
          <i class="ri-account-circle-line"></i>
        </a>
        <nav class="account-menu">
          <button onclick="location.href='../TrangCaNhan_TT/TrangCaNhan_TT.html'">Trang cá nhân</button>
          <button onclick="logout()">Đăng xuất</button>
        </nav>
      </div>

      <!-- Giỏ hàng -->
      <a href="../gio-hang/gio-hang.html">
        <i class="ri-shopping-basket-line"></i>
      </a>
    </div>

  </div>

  <nav class="header-bottom">
    <a href="../../TrangChu/TrangChu.html"><i class="ri-home-4-line"></i> Trang chủ</a>
    <a href="../../Ve-chung-toi/ve-chung-toi.html"><i class="ri-information-line"></i> Về chúng tôi</a>
    <li>
      <a href="../../danh-sach-mon-an/mon-an.html"><i class="ri-menu-line"></i> Món ăn</a>
      <ul class="sub-menu">
        <li><a href="../../danh-sach-mon-an/mon-an.html#dryfood" class="scroll-link">Món khô</a></li>
        <li><a href="../../danh-sach-mon-an/mon-an.html#soupyfood" class="scroll-link">Món nước</a></li>
        <li><a href="../../danh-sach-mon-an/mon-an.html#sidedish" class="scroll-link">Món ăn kèm</a></li>
        <li><a href="../../danh-sach-mon-an/mon-an.html#dessert" class="scroll-link">Món tráng miệng</a></li>
        <li><a href="../../danh-sach-mon-an/mon-an.html#drinks" class="scroll-link">Nước giải khát</a></li>
      </ul>

    </li>
    <a href="../../DanhMucDanhGia/DanhMucDanhGia.html"><i class="ri-star-line"></i> Đánh giá</a>
    <a href="../ho-tro/ho-tro.html"><i class="ri-question-line"></i> Hỗ trợ</a>
  </nav>

</header>
