<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="../js/loadComponents.js" defer></script>
    <!-- Nhớ đổi tên file css tương ứng -->
    <link rel="stylesheet" href="./template.css">
</head>

<body>
<!-- Header(Không thay đổi phần này) -->
<div id="header"></div>

<!-- Main(Thay đổi phần này tùy theo trang) -->
<div id="main">
</div>
<!-- Footer(Không thay đổi phần này) -->
<div id="footer"></div>
</body>

</html>
