
body {
    background-image: url('../assets/background/background2.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

.container {
    background-color: #fff;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    width: 400px;
    text-align: center;
}

h1 {
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Lora, serif;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: Lora, serif;
}

label {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
    text-align: left;
    font-family: Lora, serif;
}

input[type="text"],
input[type="password"] {
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    font-family: Lora, serif;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #FAB12F;
    outline: none;
}

.password-field {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}

.password-field input[type="password"],
.password-field input[type="text"] {
    width: 100%;
    padding: 12px 40px 12px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    box-sizing: border-box;
    margin-bottom: 0;
    font-family: Lora, serif;
}

.password-field input[type="password"]:focus,
.password-field input[type="text"]:focus {
    border-color: #FAB12F;
    outline: none;
}

.toggle-password {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
    font-size: 20px;
    transition: all 0.3s ease;
}

button {
    padding: 15px;
    background-color: #FAB12F;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}


button:hover {
    background-color: #ee9908;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 18px;
}

.links a {
    text-decoration: none;
    color: #FAB12F;
    font-size: 18px;
    font-weight: bold;
}

.links a:hover {
    color: #ee9908;
}
