<footer id="footer">
    <div class="footer-container">
        <h2>Về chúng tôi</h2>
        <div class="content-footer">
            <img src="../../assets/logo/logo.jpg" alt="">
        <p>
            ADH FOOD, chúng tôi cam kết sẽ luôn mang đến những thực phẩm tươi và chất lượng nhất cho mọi khách hàng.
            <br>
            Rất hân hạnh được phục vụ quý khách.
            <br>
            Know - Eat - Love
        </p>
    </div>
    </div>
    <div class="footer-container">
        <h2>Thông tin liên hệ</h2>
        <ul class="contact-list">
            <li><i class="ri-phone-fill"></i> 063 123 4567</li>
            <li><i class="ri-mail-line"></i> ADHFOOD@gmail.com</li>
            <li><i class="ri-map-pin-line"></i> 12/3, Đinh Tiên Hoàng, Quận 1, TP. HCM</li>
        </ul>
    </div>
    <div class="footer-container">
        <h2>Theo dõi chúng tôi ngay</h2>
        <div class="social-list">
            <a href="https://www.facebook.com/ADHFOOD"><i class="ri-facebook-fill"></i>Facebook</a>
            <a href="https://www.instagram.com/ADHFOOD"><i class="ri-instagram-line"></i>Instagram</a>
            <a href="https://www.youtube.com/ADHFOOD"><i class="ri-youtube-fill"></i>Youtube</a>
        </div>
    </div>
</footer>
